<ion-header>
  <ion-toolbar>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <form [formGroup]="loginForm">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>

            <p
              class="error-message"
              *ngIf="!getFormControl('email').valid && getFormControl('email').touched"
            >
              Please input a valid email address.
            </p>

            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </form>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          type="submit"
          (click)="signIn()"
          expand="block"
          [disabled]="!loginForm.valid"
          >Login</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
